*{
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

/* Estilo del nombre pricipal de la pagina */
.nombrePrincipal {
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    text-align: left;
    color: white;
    margin-left: 10px;
}

/* Estilo del Nav */

header{
    font-family: 'Barlow Condensed', sans-serif;
    width: auto;
    height: 29px;
    margin: auto;
    background-color: #ff1616;
}

ul {
    list-style: none;
}

#menu li>a{
    background-color: gray;
    color: white;
    padding: 5px;
    display: block;
    text-decoration: none;
    min-width: 50px;
}

#menu li>a:hover{
    color: white;
    background-color: rgb(201, 201, 201);
}

#menu>li{
    float: right;
    text-align: center;
}

/*----------------Pagina principal (index.html)------------------------*/

img {
    width: 250px;
    height: 250px;
    margin-left: 50px;
    float: left;
}

#descripcion {
    margin: auto;
    background-color: aqua;
    margin-top: 50px;
}

/* Estilo para resumen de la pagina principal */
.resumen {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: larger;
    text-align: center;
    background-color: aquamarine;
    margin: 10px;
    margin-left: 350px;
}


/*---------------------Pagina de Productos-----------------------------*/

/* Estilo del div de productos */
.divProd {
    font-family: 'Barlow Condensed', sans-serif;
}

/*-------------------------Pagina Sobre Nosostros-------------------------*/



/*----------Pagina individual de cada producto (Producto 1)----------------*/


