* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d8893f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23000000' fill-opacity='0.62'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color:black;
    font-size: 16px;
    font-family: 'Gemunu Libre', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Nav */

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 25px 0;
}

.nav-brand {
    width: 65px;
}

.name {
    display: flex;
    flex: 1;
    margin-left: 5px;
    font-family: 'Acme', sans-serif;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 15px;
}

.nav-main ul li a {
    padding: 3px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid black;
}

/* Encabezado */

hr {
    margin: 10px 0;
}

.showcase {
    width: 100%;
    height: 650px;
    background: url(dragon-balls.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: rgb(223, 130, 8);
    color: white;
    font-size: 15px;
    border: 1px solid rgb(211, 61, 15);
    margin: 10px 0;
}

.btn:hover {
    opacity: .9;
}

.showcase h2, .showcase p {
    margin-bottom: 10px;
}

/* Sobre Nosotros */

#abaut-us {
    margin: 20px;
    text-align: center;
}

/* Footer */

.footer {
    background: rgb(223, 130, 8);
}

/* Social */

.social {
    margin: 20px;
}

.social p {
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
}

.links a {
    margin: 0 20px;
}

.links a i {
    font-size: 3rem;
}

/* Footer text */

.footer-text {
    text-align: center;
    padding: 10px;
}
